.main-contact{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color:rgb(0, 0, 0);
    font-size: 35px;
}

label{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(217, 219, 219);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(0, 0, 0);

}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.boton{
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 25px;
    background-color: rgb(34, 221, 228);
    box-shadow: 0 0 20px rgba(0, 0, 0,);
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(0, 247, 255);
}

@media(max-width:991px){
    .main-contact{
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 100%;

    }

    input{
        padding: 15px;
    }
}