.main-contact{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    width: 400px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color:rgb(0, 0, 0);
    font-size: 35px;
    margin-bottom: 30px;
}

label{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(245, 244, 244);
    border: 2px solid rgb(231, 231, 231);
    color: rgb(0, 0, 0);
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(0, 0, 0);

}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.boton{
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(209, 208, 208);
    cursor: pointer;
}

.boton:hover{
    background-color: rgba(0, 0, 0, 0.76);
}

/*----------------Estilos Maps------------------*/

.main-maps{
    min-height: 50vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    width: 500px;
    height: 500px;
    
}

@media(max-width:991px){
    .main-contact{
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 100%;

    }

    input{
        padding: 15px;
    }
}